body,textarea{
    margin: 0;
    padding: 0;
    font-family:'GFS Didot';
    width: 100%;
}

.container{
    width: 100%;
    background-color: #000;
    height:80px ;
    padding: 0 2em;
}


nav{
    position: relative;
}



.container .nome-logo {

    color: var(--cinza, hsl(0, 0%, 86%));
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 13px;
    text-transform: none;
}

nav{
    position: relative;
}
.container{
    display: flex;
    justify-content: space-between;
}




.navegacao{
    margin-right: 80px;
   margin-top: 3px;
    height: 80px;
   line-height: 80px;
  

}
.navegacao li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navegacao a {
    text-decoration:none ;
    color: #fff;
    font-family: 'GFS Didot';
}


body {
    background-color: #DBDBDB;
    overflow-x: hidden;
}

.footer-bg{
background-color: #000;
display: flex;
margin: 0 auto;
justify-content: center;
}
.text-footer{
color: #DBDBDB;
}

.link-vogue {
    margin-top: 17.5px;
    margin-left: 7px;
    padding-bottom: 20px;
}

.link-vogue a {
    color: #701B16;
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
    margin-left: 40%;
}



.text-footer p {
    width: 249px;
}